*{
margin: 0;
padding: 0;
}
.div-first{
    height: 200px;
    background-color: brown;
}
.div-second{
    height: 200px;
    background-color: rgb(78, 4, 175);
}
.main{
    display: flex;
}
.right{
    width: 40%;
    height: 100px;
    background-color: rgb(41, 110, 13);
    display: flex;
    align-items: center;

}
.left{
    width: 60%;
    height: 100px;
    background-color: rgb(194, 41, 62);
    display: flex;
    justify-content: center;
    align-items: center;
}
